{
  "plugins": [
    "react"
  ],
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "env": {
    "browser": true,
    "amd": true,
    "es6": true,
    "node":true
  },
  "rules": {
      "quotes": [ 1, "single" ],
      "no-undef": true,
      "global-strict": false,
      "no-extra-semi": 1,
      "no-underscore-dangle": false,
      "new-cap":false,
      "camelcase":false,
      "no-console":false,
      "no-multi-spaces":false
  }
}
